.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(203, 213, 225, 0.8) transparent;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(203, 213, 225, 0.8);
    border-radius: 9999px;
  }
}
